/*使用@font-face 规则定义字体*/
@font-face{
    font-family: 'JetBrains Mono';
    font-display: swap;
    src: url('../fonts/JetBrainsMono-Regular.ttf') format("truetype");
}
@font-face{
    font-family: 'HarmonyOS Sans SC';
    font-display: swap;
    src: url('../fonts/HarmonyOS_Sans_SC_Regular.ttf') format("truetype");
}
body {
    font-family: 'JetBrains Mono','HarmonyOS Sans SC';
}
/*将自定义字体应用到整个网页正文，按顺序尝试，如果一个字体不可用就用下一个*/
body {
    font-family:   'JetBrains Mono','HarmonyOS Sans SC','LXGWWenKai-Regular';
}
